<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络权限：允许应用访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态权限：允许应用检查网络连接状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prt"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <!-- 启动Activity：登录注册界面 -->
        <activity
            android:name=".ui.startActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主Activity：登录成功后进入的主界面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>